.container {
   flex-direction: column;
   font-family: 'JetBrains Mono';
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 3rem 2rem 5rem 2rem;
   background-color: #4831d4;
   max-height: 12rem;
}

.nav__link {
   margin: auto 0;
   font-size: 2rem;
   font-family: 'Aguafina Script';
   font-weight: 900;
   text-decoration: none;
   color: #ccf381;
   z-index: 15;
}

.menu {
   display: none;
   flex-direction: column;
   position: absolute;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   gap: 5rem;
   background-color: white;
   animation: fadeInLeft .5s;
   z-index: 10;
}

.hidden {
   animation: fadeOutLeft .5s forwards;
}

.top-span {
   padding: 12rem 2rem 0 2rem;
   text-align: center;
}


.span__menu {
   font-size: 1.2rem;
   line-height: 1.3;
   color: #4831d4;
   margin-bottom: 2rem;
}

.bottom-span {
   display: flex;
   flex-direction: column;
   margin-top: 10rem;
   padding: 0 2rem;
   text-align: center;
}

.bottom-span-imgs {
   margin-top: 1rem;
}

.span__menu--op {
   font-size: 1.5rem;
   opacity: 0.3;
   letter-spacing: 0.3rem;
   margin-bottom: 2rem;
}

.menu-icons {
   flex-direction: column;
   cursor: pointer;
   z-index: 15;
}

.menu-icon {
   position: relative;
   cursor: pointer;
   border: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   width: 2rem;
}

.menu-icon::before {
   content: '';
   top: 6px;
   width: 100%;
   height: 2px;
   position: absolute;
   background-color: #ccf381;
}

.menu-icon::after {
   content: '';
   top: 18px;
   right: 0;
   width: 72%;
   height: 2px;
   position: absolute;
   background-color: #ccf381;
}

.menu-icon--newcolor {
   position: relative;
   cursor: pointer;
   border: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   width: 2rem;
}

.menu-icon--newcolor::before {
   content: '';
   top: 6px;
   width: 100%;
   height: 2px;
   position: absolute;
   background-color: #4831d4;
}

.menu-icon--newcolor::after {
   content: '';
   top: 18px;
   right: 0;
   width: 72%;
   height: 2px;
   position: absolute;
   background-color: #4831d4;
}

.section {
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: #4831d4;
   gap: 3rem;
}

.wrapper-content {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.top-content {
   display: flex;
   flex-direction: column;
   padding: 0 3rem;
   gap: 3rem;
}

.top-content__h1 {
   font-size: 2.5em;
   font-weight: 900;
   color: #ccf381;
}

.top-content__p {
   font-size: 1em;
   font-weight: 500;
   line-height: 1.6rem;
   margin-top: 2rem;
   color: white;
}

.nav-scroll {
   display: none;
}

.bottom-content {
   padding: 0 3rem;
   margin-bottom: 2rem;
}

.list {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 0.6em;
   font-weight: normal;
   line-height: 1.5;
   color: #ccf381;
   text-align: left;
}

.list__item {
   width: calc(50% - 0.3rem);
}

.avatar-content {
   display: flex;
   justify-content: center;
   padding: 4.5rem 2rem;
   background-color: #ccf381;

}

.figure-background {
   position: relative;
   width: 12.5rem;
   height: 12.5rem;
   border: 0.115rem solid #fff;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.figure-background__img {
   position: absolute;
   bottom: 0.9rem;
   right: 0.9rem;
   width: 12.5rem;
   height: 12.5rem;
   background: linear-gradient(to right, #7b7a87 33%, #a8afb0 67%, #bacacd 100%),
      url('../assets/av.webp');
   background-blend-mode: overlay;
   background-size: cover;

}

.section2 {
   display: flex;
   flex-direction: column;
   padding: 4rem 3rem;
   gap: 4rem;
}

.span__h1 {
   font-size: 2em;
   font-weight: 900;
   color: #4831d4;
}

.span__p {
   margin-top: 1rem;
   font-size: 0.80em;
   line-height: 1.3;
}

.section3 {
   display: flex;
   flex-direction: column;
   padding: 4rem 3rem;
   background-color: #4831d4;
   gap: 4rem;
}



.info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.skills-container {

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 1rem 1rem;
   gap: 2rem;
   border-top: 2px solid white;
   border-bottom: 2px solid white;
   margin-top: 1rem;
}

.skills-container__img {
   margin-top: 1rem;
   width: 40px;
}

.span__h1--green {
   font-size: 2em;
   font-weight: 900;
   color: #ccf381;
   letter-spacing: -0.04em;
}

.span__p--white {
   margin-top: 1rem;
   font-size: 0.80em;
   line-height: 1.3;
   color: white;
}

.span__h1--project {
   font-size: 2em;
   font-weight: 900;
   color: #ccf381;
   letter-spacing: -0.04em;

}

.project-img {
   width: 100%;
   box-shadow: rgba(72, 49, 212, 0.3) 5px 5px, rgba(72, 49, 212, 0.2) 10px 10px;
}

.span__project-title-h2 {
   font-weight: 600;
   color: #4831d4;
   margin-top: 1rem;
}

.section4 {
   display: flex;
   flex-direction: column;
   padding: 4rem 3rem;
   gap: 2rem;
}

.projects {
   display: flex;
   flex-direction: column;
   gap: 4rem;
}

.project {
   width: 100%;
}


.underline {
   display: flex;
   margin-top: 3rem;
   border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.section5 {
   display: flex;
   flex-direction: column;
   padding: 4rem 3rem;
   background-color: #4831d4;
}

.section6 {
   padding: 4rem 3rem;
}


.contactme {
   display: flex;
   flex-direction: column;
}

.contactme__label {
   margin-top: 2rem;
   margin-bottom: 0.70rem;
   font-size: 0.8em;
   opacity: 0.6;
   font-weight: 500;
}

.input {
   text-align: left;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid rgb(118, 118, 118);
   background-color: transparent;
   outline: none;
   resize: none;
   opacity: 0.8;

}

.textarea {
   min-height: 4rem;
}

.button {
   margin-top: 2rem;
   font-weight: 600;
   font-family: inherit;
   letter-spacing: 0.1em;
   width: 11rem;
   padding: 0.50rem;
   color: #4831d4;
   border: 1px solid #4831d4;
   background-color: #F9F9F9;
}

.footer {
   padding: 4rem 3rem;
   background-color: #3d155f;
}

.footer-span {
   letter-spacing: 0.50em;
   font-weight: 500;
}

.list-footer {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   margin-top: 3rem;

}

.list-footer__item {
   font-size: 1em;
   color: #ccf381;
   text-decoration: none;
}

.footer-copyright {
   padding-top: 3rem;
   margin-top: 4rem;
   border-top: 1px solid #ccf381;
}

.footer-copyright__span {
   display: flex;
   flex-direction: row;
   width: 100%;
   font-size: 1.1rem;
   color: #ccf381;
}

/*Responsive Design*/

@media only screen and (min-width: 420px) {
   .top-content {
      padding: 0 4rem;
   }

   .bottom-content {
      padding: 0 4rem;
   }

   .list__item {
      width: calc(50% - 1rem);
   }

   .section2,
   .section3,
   .section4,
   .section5,
   .section6 {
      padding: 4rem;
   }


   .footer {
      padding: 4rem;
   }


   .list-footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
   }

   .list-footer-li {
      /* flex-basis: 40%; */
      flex-basis: calc(40% - 1rem);
   }
}

@media only screen and (min-width: 580px) {

   .header {
      background: linear-gradient(90deg, #4831d4 70%, #ccf381 30%);
   }

   .menu-icon::after {
      background-color: #4831d4;
   }

   .menu-icon::before {
      background-color: #4831d4;
   }

   .section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      gap: 0;
      background: linear-gradient(90deg, #4831d4 70%, #ccf381 30%);
   }

   .wrapper-content {
      display: flex;
      flex-direction: column;
      width: 70%;

   }

   .top-content {
      padding: 0;
      padding-left: 4rem;
      width: 65%;
   }

   .top-content__h1 {
      font-size: 2em;
   }

   .top-content__p {
      display: block;

      font-size: 0.700em;
   }


   .avatar-content {
      width: 30%;
      padding: 0;
      position: absolute;
      background-color: transparent;
      bottom: 6rem;
      right: 2rem;
   }

   .menu-icon {
      background-color: #4831d4;
   }

   .section5 .span__h1 {
      text-align: center;
      justify-content: center;
   }

   .section5 .span__p {
      text-align: center;
      width: 75%;
      margin: 1rem auto;

   }

   .textarea {
      min-height: 1rem;
   }

   .button-content {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
   }

   .button {
      width: 13rem;
   }
}

@media only screen and (min-width: 700px) {

   html {
      scroll-behavior: smooth;

   }

   .avatar-content {
      bottom: 7rem;
      right: 6rem;
   }

   .nav-scroll {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 15rem;
      right: 1rem;
      gap: 1rem;
   }

   .nav-button {
      background-color: #E4572E;
      border: none;
   }

   .section2 {
      min-height: 100vh;
      justify-content: space-evenly;

   }

   .section2 .span .span__p {
      width: 50%;

   }

   .section2 .span2 {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 50%;
   }

   .wrapper-span2 {
      display: flex;
      justify-content: end;
   }

   .section3 {
      gap: 4rem;
      min-height: 100vh;
      justify-content: space-evenly;
   }

   .section4 {
      display: flex;
      justify-content: space-evenly;
      min-height: 100vh;
   }

   .section4 .span__h1 {
      text-align: center;
   }

   .projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 3rem;
   }

   .project {
      width: calc(50% - 2rem);
      box-shadow: 5px 5px 0 0 rgba(72, 49, 212, 0.3), 10px 10px 0 0 rgba(72, 49, 212, 0.2);
   }

   .project-img {
      box-shadow: none;
   }

   .underline {
      border-bottom: none;
   }

   .projects__img {
      margin-top: 2rem;
      margin-bottom: 1rem;

   }

   .section5 {
      min-height: 100vh;
      justify-content: center;
   }

   .section6 {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
   }

   .contactxd {
      text-align: center;
   }

   .footer {
      display: flex;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
   }



}